{% extends 'base.html' %}

{% block title %}HomePage - {{ block.super }}{% endblock %}

{% block body %}
      <div class="container-fluid">
            <div class="row" style="="margin-botto: 30px;>
                  <div class="col-md-3 col-sm-6" style="background-color: pink; height: 100px;">1.project</div>
                  <div class="col-md-3 col-sm-6" style="background-color: yellow; height: 100px;">2.project</div>
                  <div class="col-md-3 col-sm-6" style="background-color: #66CDAA; height: 100px;">3.project</div>
                  <div class="col-md-3 col-sm-6" style="background-color: #00FF00; height: 100px;">4.project</div>
            </div>
      </div>

{% endblock %}
