{% extends 'base.html' %}

{% block body %}

    <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="thumbnail">
                <div class="caption">
                    <h3>{{ employee.e_name }} {{ employee.e_surname }}</h3>
                    <p>ID: {{ employee.e_id }}</p>
                    <p>Email: {{ employee.e_email }}</p>
                    <p>Phone: {{ employee.e_phone }}</p>
                    <p>Company: {{ employee.eCompany }}</p>
                    <p>Department: {{ employee.eDepartment }}</p>
                    <p><a href="{{ employee.get_absolute_url }}" class="btn btn-primary" role="button">research</a>
                        <a href="{{ employee.get_update_url }}" class="btn btn-default" role="button">Update</a>
                        <a href="{{ employee.get_delete_url }}" class="btn btn-danger" role="button">Delete</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
