<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail of Employees</title>
</head>
<body>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    ID: {{ employee.e_id }}<br>
    Name: {{ employee.e_name }} <br>
    Surname: {{ employee.e_surname }}<br>
    Email: {{ employee.e_email }}<br>
    Phone: {{ employee.e_phone }}<br>
    Degree: {{ employee.e_degree }}<br>
    Salary: {{ employee.e_salary }}<br>
    Department: {{ employee.eCompany }}<br>
    Company: {{ employee.eDepartment }}<br>

</body>
</html>
