{% extends 'base.html' %}

{% block title %}HomePage - {{ block.super }}{% endblock %}

{% block body %}
      <div class="container-fluid">
            <div class="row" style="="margin-botto: 30px;>
                  <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        Welcome, {{ request.user.username}}<br>
                        Last LogIn Date = {{ request.user.last_login }}<br>
                        Is user super user = {{ request.user.is_superuser }}<br>
                        Is user active = {{ request.user.is_active }}<br>
                  </div>
            </div>
            <a href="{% url 'account:Change Password' %}" class="btn btn-primary" role="button">Change Password</a>
      </div>

{% endblock %}
